@tailwind base;

@tailwind components;

@tailwind utilities;

 //*{
 //    outline: 2px solid red;
 //}
.container, footer{
    max-width: 1200px!important;
    margin: 0 auto!important;
}

body{
    background: #e6e6fa!important;
}

header, footer{
    background: #014!important;
}

.header-title{
    font-family: 'Gelasio', serif;
}

.menu-button{
    top:50%;
    transform: translateY(-50%);
    cursor: pointer;
}

li{
    list-style: none!important;
}
.progess-bar{
    border-bottom: 5px solid rgb(0, 0, 0,.2);
}
.progess-bar p{
    text-shadow: 1px 1px #000;
}

.mail{
    padding: 20px;
    background: rgb(54, 85, 143);
    color: #fff;
    width: 25%;
    cursor: pointer;
}

.contact:hover{
    opacity: .8;
}

/////////////////////////////////////////////////////////////////////////////////////////////////////
// Alle projecten
/////////////////////////////////////////////////////////////////////////////////////////////////////

.allProject{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

.aProject{
    cursor: pointer;
    height: 100%;
    z-index: 1;
}

.aProjectContainerHeader{
    position: relative;
}

.aProjectContainerHeader h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)translateY(-50%);
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    z-index: 500;
    color: rgb(54, 85, 143);
    text-transform: uppercase;

}

.aProject:hover{
    opacity: 1;
}

@keyframes overlay {
    from {height: 100%;}
    to {height: 0%;}
}

.aProjectContainer:hover:after{
    animation: overlay 2s forwards;
}

.aProjectContainerHeader:hover h1{
    display: none;
}
.aProjectContainerHeader h1::after{
    display: block;
    width: 100%;
    height: 2px;
    background: #36558f;
    content: '';
}
.aProject{
    border: 3px solid #36558F;
}


.aProject::after{
    content: '';
    display: block;
    width: 100%;
    padding-bottom: 100%;
}
.aProjectContainer::after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(255, 255, 255,.9);
}
