@tailwind base;
@tailwind components;
@tailwind utilities;
.container,
footer {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

body {
  background: #e6e6fa !important;
}

header,
footer {
  background: #014 !important;
}

.header-title {
  font-family: "Gelasio", serif;
}

.menu-button {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

