@tailwind base;
@tailwind components;
@tailwind utilities;
.container,
footer {
  max-width: 1200px !important;
  margin: 0 auto !important;
}

.maxw1 {
  max-width: 1200px !important;
  margin-left: auto !important;
  margin-right: auto !important;
}

.avatar {
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}

body {
  background: #e2e8f0 !important;
}

header,
footer {
  background: #014 !important;
}

header h1 {
  text-shadow: 1px 1px 6px #000;
}

p {
  font-size: 16px;
}

.aside li:hover {
  font-weight: bold;
}

.header-title {
  font-family: "Gelasio", serif;
}

.menu-button {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
}

li {
  list-style: none !important;
}

.progess-bar {
  border-bottom: 5px solid rgba(0, 0, 0, 0.2);
}

.progess-bar p {
  text-shadow: 1px 1px #000;
}

.mail {
  padding: 20px;
  background: #36558f;
  color: #fff;
  width: 25%;
  cursor: pointer;
}

.contact:hover {
  opacity: 0.8;
}

.allProject {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}

.aProject {
  cursor: pointer;
  height: 100%;
  z-index: 1;
}

.aProjectContainerHeader {
  position: relative;
}

.aProjectContainerHeader h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  z-index: 500;
  color: #36558f;
  text-transform: uppercase;
}

.aProject:hover {
  opacity: 1;
}

@-webkit-keyframes overlay {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}

@keyframes overlay {
  from {
    height: 100%;
  }

  to {
    height: 0%;
  }
}

.allProject {
  background: transparent !important;
}

.aProjectContainer:hover:after {
  -webkit-animation: overlay 1s forwards;
          animation: overlay 1s forwards;
}

.aProjectContainerHeader:hover h1,
.aProjectContainerHeader:hover .used_lang {
  display: none;
}

.aProjectContainerHeader h1::after {
  display: block;
  width: 100%;
  height: 2px;
  background: #36558f;
  content: "";
  padding: 2px;
}

.aProject {
  border: 3px solid #36558F;
}

.aProject::after {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.aProjectContainer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
}

.used_lang {
  position: absolute;
  bottom: 3rem;
  left: 10px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  width: 95%;
  -webkit-box-pack: center;
          justify-content: center;
}

.used_lang img {
  width: 2rem;
}

.used_lang img {
  margin-right: 1rem;
}

.settings {
  cursor: pointer;
}

.content-image {
  padding-top: 50vh;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: 1px 1px 6px #000;
}

.content-grid {
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-gap: 1rem;
}

.content-links a:hover {
  background: #e6e6fa;
}

.content_github,
.content_website {
  border: 1px solid #000000;
  padding: 1rem;
  text-align: center;
  border-radius: 20px;
  text-transform: uppercase;
  display: block;
}

.content_github {
  margin-bottom: 1rem;
}

.navbar {
  padding-left: 43px;
  display: none;
}

.hamburger {
  display: block;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding-top: 20px;
}

.navbar span {
  height: 2px;
  background: #fff;
  width: 100%;
  display: block;
}

.navbar span:nth-last-child(2) {
  margin-top: 8px;
  margin-bottom: 8px;
}

.menu {
  display: block;
}

@-webkit-keyframes nav {
  0% {
    left: -300px;
  }

  99% {
    left: 0px;
  }

  100% {
    left: 0px;
    position: -webkit-sticky;
    position: sticky;
  }
}

@keyframes nav {
  0% {
    left: -300px;
  }

  99% {
    left: 0px;
  }

  100% {
    left: 0px;
    position: -webkit-sticky;
    position: sticky;
  }
}

@media only screen and (max-width: 960px) {
  .menu {
    display: none;
  }

  .active {
    display: block;
    -webkit-animation-name: nav;
            animation-name: nav;
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
    background: #fff;
    z-index: 100;
    left: -300px;
    top: 0px;
    border-right: 1px solid #e6e6fa;
    padding-left: 20px;
    height: 100vh;
    position: absolute;
  }

  main {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }

  .navbar {
    padding-left: 24px;
    display: block;
  }

  .header-content {
    padding-left: 16px !important;
  }

  #app {
    overflow-x: hidden !important;
  }

  .about-me div {
    width: 100% !important;
  }

  .contact-container img,
  .mail {
    width: 200px;
  }

  .project-title {
    font-size: 24px !important;
    top: 40%;
  }
}

@media only screen and (max-width: 720px) {
  .project-title {
    font-size: 18px !important;
    top: 45% !important;
  }

  .aProjectContainerHeader img {
    display: none !important;
  }
}

@media only screen and (max-width: 520px) {
  .header-title {
    font-size: 24px;
  }

  .menu-inside {
    width: 50vw;
  }

  .profiel {
    width: 4rem !important;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
  }

  footer p {
    font-size: 14px;
  }

  footer ul li {
    width: 3rem;
    padding-top: 1rem;
    display: block;
  }

  main {
    padding-bottom: 202px !important;
  }

  .content-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem;
  }

  .allProject {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .header-title {
    font-size: 20px;
  }

  .stage li,
  .eduction p {
    font-size: 14px;
  }
}

